@inherits umbraco.MacroEngines.DynamicNodeContext
@using BI.Repository;
@using Eksponent.CropUp;
@using BI.Repository.Entities;

@{

    List<NewsItem> news = NodeRepository.GetLatestAutodesktopNewsItems(3);


}

    <div id="autodesktopteaserlist" class="display-none">
        <h4>Seneste Autodesktop nyheder</h4>
        @for (int i = 0; i < news.Count; i++)
        {
            NewsItem t = news[i];
        <div class="post">
                @CreateImage(t)
            <span><i class="icon-calendar"></i> @t.CreatedDate.ToString("dddd, dd MMMM yyyy")</span><br>
            @if (t.OwnSinglePage)
            {
                <a href="@t.Url">@t.ShortDecription</a>
            }
            else
            {
                <a href="/autodesktop-nyheder.aspx">@t.ShortDecription</a>
            }
        </div>
        }
    </div>



@helper CreateImage(NewsItem newsItem)
{
        
    var picUrl = newsItem.PictureUrl;
    if (string.IsNullOrWhiteSpace(picUrl) || string.IsNullOrEmpty(picUrl))
    {
        <img alt="@newsItem.Image.AltText"  class="post_img"   src="/CropUp/thumbfooter/media/1012/biltorvetlogo.png"  />
        return;

    }

    <img alt="@newsItem.Image.AltText"  class="post_img"   src="@CropUp.GetUrl(@newsItem.Image.PictureUrl, new ImageSizeArguments { CropAlias = "thumbfooter" })"  />
   
}










