@inherits umbraco.MacroEngines.DynamicNodeContext
@using BI.Repository
@using Eksponent.CropUp;
@using BI.Repository.Entities;
@using System.Configuration;

@{
    PortfolioItem item = new PortfolioItem(@Model.Id);
    List<ImageItem> images = item.GetMediaItems();
}

        @if (images.Any())
        {
            <!-- Begin Carousel -->
            <div id="carousel" class="flexslider">
	            <ul class="slides">
                    @foreach (ImageItem image in images)
                    {
	                    <li ><img src="@CropUp.GetUrl(image.PictureUrl, new ImageSizeArguments { CropAlias = "thumb" })" alt="@image.AltText"  /></li>
                    }
		            <!--notice that these are background images because youtube and vimeo images fetched dynamically are not the same size-->
	            </ul>
            </div>
            <!-- End Carousel --> 
				
            <!-- Begin Slider -->
            <div id="slider" class="flexslider">
	            <ul class="slides">
                    @foreach (ImageItem image in images)
                    {
                        <li> <a class="zoom-image fancyme" data-fancybox-group="portfolio" href="@image.PictureUrl">View Larger Image</a> <img  src="@image.PictureUrl" alt="@image.AltText"></li>
                    }
	            </ul>
            </div>
            <!-- End Slider --> 
        }

